{% extends 'base.html' %}

{% block title %} Latest Blog Posts {% endblock title %}

{% block content %}
  <h1>Latest Blog Posts</h1>

  {% if posts %}
    {% for post in posts %}
      <article class="post">
        <h2><a href="{{ post.get_absolute_url }}">{{ post.title }} </a></h2>

        <p class="meta">
          Published {{ post.publish | date"F j, Y' }} by <span class="author">{{ post.author.username }}</span>
        </p>

        <p>{{ post.body | truncatewords:30 }}</p>
      </article>
      <hr>
    {% empty %}
      <p>No posts have been published yet. Check back soon!</p>
    {% endfor %}

    {% if is_paginated %}
      <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
          {% endif %}

          <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_page }}.
          </span>

          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
          {% endif %}
        </span>
      </div>
    {% endif %}

  {% else %}
    <p>No post found.</p>
  {% endif %}  
    
{% endblock content %}